<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/common.js" lang="text/javascript"></script>
</head>
<body>
    <h2>File Received.</h2>
    <h3>Name: <%= filename %></h3>
    <!-- <h3>Type: <%= filetype %></h3> -->
</body>
</html>