<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <rel type="stylesheet" src="stylesheets/style.css" />
        <script src="javascripts/common.js" lang="text/javascript"></script>
    </head>
<body>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

</body>
</html>