<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/common.js" lang="text/javascript"></script>
    <meta http-equiv="refresh" content="2" />
  </head>
  <body>
    <h3><%= title %></h3>
    <p>Welcome to <%= subtitle %></p>
    <p><a href="/uploadorder">Click to view.</a></p>
    <p>You should be automatically redirected.<br/>
      If not, please click the link above.
      <br/>Many thaks.
    </p>
  </body>  
</html>